<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="handleSubmit">
              <div>
                    <label>Email : </label>
                    <input type="text" v-model="formObj.email" placeholder="Enter the email"/>
              </div>
               <div>
                    <label>Name : </label>
                    <input type="text" v-model="formObj.name" placeholder="Enter the name"/>
              </div>
              <div>
                    <label>Phone : </label>
                    <input type="text" v-model.number="formObj.phone" placeholder="Enter the phone"/>
              </div>
                <div>
                    <label>Subscribe : </label>
                    <input type="checkbox" v-model="formObj.subscribe" placeholder="Enter the email"/>
              </div>
              <div>
                    <label>Gender : </label>
                    <select title="gender" v-model="formObj.gender">
                        <option value="">Choose</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
              </div>
              <div>
                    <button>Submit</button>
              </div>
        </form>
    </div>
</body>
<script>
        const {createApp,reactive} = Vue
createApp({
    setup() {
    const formObj=reactive({
                 email:"",
                 name:"",
                 phone:"",
                 subscribe:false,
                 gender:"",
    })    
const handleSubmit =()=>{
console.log(formObj)
}
                return{
                formObj,
                handleSubmit
                }
            }
        }).mount("#app")
</script>
</html>